<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/openings">Openings</a></td>
        <td><a href="/kalani">Chess Board</a></td>
        <td><a href=/parav>Tic-Tac-Toe</a></td>
        <td><a href="/gene">search</a></td>
        <td><a href=/dash>History</a></td>
        <td><a href=/login>Login</a></td>
    </tr>
</table>

<div style="display: flex; justify-content: center; width: 100%;"> 
    <img src="https://user-images.githubusercontent.com/111609656/214766465-2f490e65-7247-4ca2-bb40-3c02e7e065bd.png">
  </div>

