---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  h1 {
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(0, 0, 0));
    text-align: center;
    font-size: 50px
  }

  p {
    padding: 10x;
    text-align: center;
    font-size: 30px
  }

  .input{
    text-align: center;
  }

  .button{
    text-align: center;
  }